@using NumAndDrive.Models
@model IEnumerable<Journey>

@if (Model != null)
{
    <div class="container">
        <div class="row vh-10 border-black border border-bottom-0 rounded-top">
            <div class="row d-flex align-items-center">
                <p class="fs-3 m-0">Résultats de votre recherche :</p>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-9">
                    <div class="row">
                        <div class="col-3">
                            <p class="fs-3 m-0">Uckange > Metz</p>
                        </div>
                        <div class="col-1">
                            <p class="fs-3 m-0">|</p>
                        </div>
                        <div class="col-3">
                            <p class="fs-3 m-0">10/06/2024</p>
                        </div>
                        <div class="col-1">
                            <p class="fs-3 m-0">|</p>
                        </div>
                        <div class="col-3">
                            <p class="fs-3 m-0">07h00 > 08h00</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 text-end">
                    <a href="#" class="text-custom-color-orange">Modifier la recherche</a>
                </div>
            </div>
        </div>
        <div class="row vh-70 border border-black rounded-bottom custom-bottom-shadow overflow-hidden">
            <div class="col-3 vh-70 border-end border-black p-0 overflow-auto" id="journeyList">
                @foreach (var journey in Model)
                {
                    <a class="nav-link active">
                        <div class="ploup row vh-15 border-bottom border-black p-2 d-flex align-items-center" journey-id="@journey.JourneyId">
                            <div class="col-5 gap-2">
                                <div class="row mb-4">
                                    <p class="m-0">@journey.AddressDeparting.City > @journey.AddressIncoming.City</p>
                                </div>
                                <div class="row">
                                    <p class="m-0">à @journey.DepartureHour</p>
                                </div>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img class="vh-5 border border-black rounded-circle p-1" src="@journey.User.ProfilePicturePath" alt="Photo de profil" />
                            </div>
                            <div class="col-5">
                                <div class="row mb-4">
                                    <p class="m-0 text-center">@journey.User.FirstName @journey.User.LastName[0].</p>
                                </div>
                                <div class="row">
                                    <img class="col" src="/img/basic-notation.png" alt="Notes" />
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="col-9 d-flex flex-column justify-content-center" id="journeyDetails"></div>
        </div>
        
        </div>
}



@section Scripts {
    <script>
        $(document).on('click', '#journeyList .ploup', function () {
            journeyId = $(this).attr('journey-id');
            $("#journeyDetails").load("@Url.Action("JourneyDetails", "Journey")", { journeyId: journeyId });
            console.log(journeyId);
        });
    </script>
}