@using NumAndDrive.Models
@model IEnumerable<Journey>
    <style>
        .scrollable-container {
            height: 400px; 
            overflow-y: scroll;
            border: 1px solid #ccc;
        }

        .information-block {
            border: 1px solid #ddd;
            padding: 10px;
        }

    </style>
        <div class="col-3 scrollable-container">
            @foreach (var journey in Model)
            {
                <div class="information-block">
                    <div class="row">
                        <p class="col-6">@journey.AddressDeparting.City > @journey.AddressIncoming.Company.Name</p>
                        <p class="col-6">@journey.User.FirstName</p>
                    </div>
                    <div class="row">
                        <p>Le @journey.DepartureDate, à @journey.DepartureHour</p>
                    </div>
                </div>
            }
        </div>


